.card {
    display: block;
    background-color: blue;
    color: white;
    width: 200px;
    height: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    justify-self: center;

    &:hover {
        cursor: pointer;
    }
}

.card-img {
    object-fit: cover;
    max-height: 100%;;
    width: auto;
}

h2 {
    align-self: center;
}